#photo-area.viewport {
   height: 240px;
    width:320px;
}
#photo-area.viewport canvas, video {
   float: left;
    width:320px;
   height: 240px;
}
#photo-area.viewport canvas.drawingBuffer, video.drawingBuffer {
   margin-left: -320px;
}
